<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-dark form-card-title">
            WAREHOUSE EDIT FORM
        </div>
        <div class="card-body">
            {{#each warehouse}}
            <form action="/sisgal/api/v1.0/edit-warehouse/{{this.idwarehouse}}" method="POST">
                <div class="form-group">
                    <label for="warehouse" class="form-input-title">WAREHOUSE:</label>
                    <input
                        required="true"
                        type="text" 
                        name="warehouse" 
                        id="warehouse" 
                        value="{{this.warehouse}}"
                        class="form-control form-input-content">
                </div>
                  
                <div class="form-group">
                    
                    {{#if this.isActive}}
                        <a href="/sisgal/api/v1.0/disable-warehouse/{{this.idwarehouse}}" class="btn btn-outline-danger"> Disable Warehouse <i class="fas fa-store-slash"></i></a>
                    {{else}}
                        <a href="/sisgal/api/v1.0/enable-warehouse/{{this.idwarehouse}}" class="btn btn-outline-primary"> Enable Warehouse <i class="fas fa-store"></i></a>
                    {{/if}}

                    <button 
                        type="submit" 
                        class="btn btn-success form-button-title">
                            Save 
                        <i class="fas fa-save"></i>
                    </button>

                </div>
            {{/each}} 
            </form>
        </div>
    </div>
</div>